<div class="container">
  <h1>This is courses page</h1>
  <div class="row">
    {{#each Courses}}
      <div class="col-12 col-sm-6 g-4">
        <div class="card bounded p-3 bg-info">
          <a href="/courses/{{this._id}}">
            <img src="{{this.image}}" class="card-img-top" alt="..." />
          </a>
          <div class="card-body">
            <h5 class="card-title text-uppercase fw-bolder">
              <a href="/courses/{{this._id}}">
                {{this.name}}
              </a>
            </h5>
            <p class="card-text text-capitalize">
              {{this.description}}
            </p>
            <a href="/courses/{{this._id}}" class="btn btn-primary">View More</a>
            <a href="/courses/{{this._id}}" class="btn btn-success">Join</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <a href="/courses/create" class="mt-3 create-new-sourse btn button bg-info">
    create
  </a>
</div>