<h2>Khóa học của tôi</h2>
<div class="container-fluid">
<a href="/me/trash/courses"
  class="btn btn-warning my-2 px-4">
    🗑 ({{deletedCount}})
 </a>

  <div id="toast" class="hidden">
          Đây là một toast thông báo sẽ tự động biến mất sau 1 giây.
      </div>

<form class="select-form" method="POST" action="/courses/multiDeleteCourses" id="select-form">
  <div class="form-check py-2 d-flex align-items-center gap-2">
    <input class="form-check-input" type="checkbox" value="" id="select-all">
    <label class="form-check-label " for="select-all">
      Select All
    </label>

    <button class="submit-select-form btn btn-danger" id="select-all-btn" disabled  data-bs-toggle="modal" data-bs-target="#deleteAllModel">Delete</button>

  </div>
  <table class="table table-dark table-hover" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">
          Name
         {{{sortable 'name' _sort}}}
        </th> 
        <th scope="col">
          Description  
         {{{sortable 'description' _sort}}}
        </th>
        <th scope="col" colspan="2">
          Date  
         {{{sortable 'date' _sort}}} 
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each Courses}}
      <tr>
          <td border="1" >
             <input 
             class="form-check-input select-item" 
             name="selectItems[]" 
             type="checkbox" value="{{this._id}}" >
          </td>
          <td border="1" >{{sum @index 1}}</td>
          <td border="1">{{this.name}}</td>
          <td border="1">{{this.description}}</td>
          <td border="1">{{this.date}}</td>
          <td border="1">
            <a href="/courses/{{this._id}}/edit" class='btn btn-success'>Edit</a> 
            <a href="" data-ID="{{this._id}}" class='data-button btn btn-danger' data-bs-toggle="modal" data-bs-target="#deleteModel">Delete</a>
          </td>
          </div>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          <h1>You don't have any courses yet! </h1>
          <p><a class="btn btn-info" href="/courses/create">Create new one</a></p>
        </td>
      </tr>
      {{/each}}
    
    </tbody>
  </table>

  <div class="modal fade" id="deleteAllModel" tabindex="-1" aria-labelledby="deleteAllModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong class="text-danger bg-warning">Are you sure you want to delete all?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" id="delete-all-btn" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong class="text-danger bg-warning">Are you sure you want to delete this?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form method="POST" id="delete-form" ></form>

<script>
  let dataButtons = document.querySelectorAll('.data-button');
  let selectItems = document.querySelectorAll('.select-item');
  let deleteAllBtn= document.getElementById('delete-all-btn');
  let deleteBtn = document.getElementById('delete-btn');
  let deleteForm= document.getElementById('delete-form');
  let selectForm= document.getElementById('select-form');
  let selectAll= document.getElementById('select-all');
  let selectAllBtn= document.getElementById('select-all-btn');
  let numberItems= selectItems.length;
  let deleteID;

    dataButtons.forEach(function (button) {
        button.addEventListener('click', function () {
              deleteID  = button.getAttribute('data-ID');
        });
    });

    deleteBtn.onclick=()=>{

      deleteForm.action = `/courses/${deleteID}?_method=DELETE`;  
      deleteForm.submit();
    }

    selectAllBtn.onclick=(e)=>{
      e.preventDefault();
    }
    
    deleteAllBtn.onclick=(e)=>{
      setTimeout(selectForm.submit(),1000)
      
    }

    //click SELECT ALL btn
    selectAll.onchange=()=>{
        if(selectAll.checked){
          selectItems.forEach(item=>item.checked=true);
        }
        else{
          selectItems.forEach(item=>item.checked=false);
        }
    }
  
    //check number of selected items
    function countSelectedItems(){
      let result = 0;
      selectItems.forEach(item=>
       { if(item.checked)
          result++;}
      );
      return result;
    }

    //show selectAllItemsBtn
    document.querySelectorAll('input[type=checkbox]').forEach(item=>{
      item.addEventListener('change', function() {
      if (countSelectedItems() != 0) {
        selectAllBtn.disabled = false;
      } else {
        selectAllBtn.disabled = true;
      }
     }); 
    })

    //change the selected
    selectItems.forEach(item=>
      item.addEventListener("click",()=>{
        if(countSelectedItems() == numberItems){
          selectAll.checked=true;
        }
        else{
          selectAll.checked=false;
        }
      })
    );
     //change the selected
    selectItems.forEach(item=>
      item.addEventListener("click",()=>{
        if(countSelectedItems() == numberItems){
          selectAll.checked=true;
        }
        else{
          selectAll.checked=false;
        }
      })
    );

</script>

